port:
  tcp:{{ mysql_port | default("3306") }}:
    listening: true
    ip:
    - {{ mysql_server_bind_address | default("127.0.0.1") }}
service:
  mysql:
    enabled: true
    running: true
user:
  mysql:
    exists: true
group:
  mysql:
    exists: true
process:
  mysqld:
    running: true
